@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Teko);
@import url(https://fonts.googleapis.com/css?family=Jura);
@import url(https://fonts.googleapis.com/css?family=Mandali);
@import url(https://fonts.googleapis.com/css?family=Mallanna);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Prata);
@import url(https://fonts.googleapis.com/css?family=Glegoo);
@import url(https://fonts.googleapis.com/css?family=Literata);
@import url(https://fonts.googleapis.com/css?family=Suranna);

/*************************************
**************** HEAD ****************
*************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    --page-padding1: 0px 15px;
    --page-padding2: 3px 15px;
    --page-padding3: 20px 15px;
    --high-padding: 40px;
    --category-size: 200px;
    --font1: "Quicksand";
    --font2: "Teko";
    --font3: "Jura";
    --font4: "Mandali";
    --font5: "Mallanna";
    --fontA: "Playfair Display";
    --fontB: "Prata";
    --fontC: "Glegoo";
    --fontD: "Literata";
    --fontE: "Suranna";
    /* scrivere var anche per font sizes e piu cose possibili */
}

/* LIGHT COLOR SCHEME */
.aaa {
    --white: white;
    --black: rgb(11, 11, 12);
    --bg100: ghostwhite;
    --bg200: rgb(236, 236, 243);
    --bg300: rgb(212, 212, 219);
    --bg400: rgb(196, 196, 201);
    --bg500: rgb(187, 187, 187);
    --color100: rgb(112, 134, 255);
    --color200: rgb(96, 115, 226);
    --color300: rgb(77, 94, 194);
    --color400: rgb(57, 73, 167);
    --color500: rgb(38, 51, 126);
    --text: rgb(11, 11, 12);
}

.theme-light {
    --white: white;
    --black: rgb(11, 11, 12);
    --bg000: white;
    --bg100: ghostwhite;
    --bg200: rgb(229, 229, 229);
    --bg300: rgb(212, 212, 219);
    --bg400: rgb(196, 196, 201);
    --bg500: rgb(187, 187, 187);
    --bg600: rgb(160, 160, 160);
    --color000: rgb(142, 202, 230);
    --color100: rgb(33, 158, 188);
    --color200: rgb(18, 130, 162);
    --color300: rgb(3, 64, 120);
    --color400: rgb(0, 31, 84);
    --color500: rgb(10, 17, 40);
    --color600: rgb(11, 11, 12);
    --color-b100: rgb(255, 183, 3);
    --color-b200: rgb(251, 133, 0);
    --text: rgb(11, 11, 12);
}
/* DARK COLOR SCHEME */
.theme-dark {
    --white: white;
    --black: rgb(11, 11, 12);
    --bg000: rgb(11, 11, 12);
    --bg100: rgb(10, 17, 40);
    --bg200: rgb(0, 31, 84);
    --bg300: rgb(3, 64, 120);
    --bg400: rgb(18, 130, 162);
    --bg500: rgb(33, 158, 188);
    --bg600: rgb(142, 202, 230);
    --color000: rgb(160, 160, 160);
    --color100: rgb(187, 187, 187);
    --color200: rgb(196, 196, 201);
    --color300: rgb(212, 212, 219);
    --color400: rgb(229, 229, 229);
    --color500: ghostwhite;
    --color600: white;
    --color-b100: rgb(255, 183, 3);
    --color-b200: rgb(251, 133, 0);
    --text: white;
}

h2 {
    font-family: var(--fontB); /*A B E oppure standard*/
    font-size: 24px;
    line-height: 20px;
    padding-top: 4px;
}

a {
    text-decoration: none;
    color: var(--text);
    transition: 0.2s ease;
}
a:hover {
    color: var(--color200);
}

.bottom-1em {
    margin-bottom: 1em;
}
.bottom-2em {
    margin-bottom: 2em;
}

::selection {
    background-color: var(--text);
    color: var(--bg100);
}

/*************************************
**************** BODY ****************
*************************************/
#root {
    color: var(--text);
    font-family: var(--font1); /*1 4 o 5 , il 3 anche non male, 2 peggiore*/
    overflow-x: hidden;
    transition: 0.2s ease;
    background-color: var(--bg000);
    font-size: 12pt;
}
.main {
    padding: 45px 0 0 0;
    min-height: 85vh;
}

section {
    padding: var(--page-padding1);
    background-color: var(--bg000);
}

/*size*/
.large-box {
    min-height: 80vh;
    border-bottom: 1px solid darkgrey;
}
.medium-box {
    height: 60vh;
    border-bottom: 1px solid darkgrey;
}
.small-box {
    height: 45vh;
    border-bottom: 1px solid darkgrey; /*fibonacci sequence*/
}
/*layout*/
.flex-box-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-box-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-box-column {
    display: flex;
    flex-direction: column;
}
.flex-box-column-space-btw {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.grid-box-6and4 {
    display: grid;
    grid-template-columns: 60% 40%;
}
/*padding and margin*/
.high-padding {
    padding: var(--high-padding);
}

/*************************************
*************** HEADER ***************
*************************************/
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    /* background-color: var(--white); */
}
header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 11px 15px;
}
/*************************************
***************** NAV ****************
*************************************/
nav {
    /* background-color: var(--bg400); */
    display: flex;
    column-gap: 50px;
    padding: 2px 15px 0 15px;
    justify-content: center;
    /* text-transform: uppercase; */
}
.nav-link-active {
    color: var(--color100);
}
.nav-link-active:hover {
    color: var(--text);
}

/*************************************
*************** FOOTER ***************
*************************************/
footer {
    background-color: var(--bg000);
    padding: var(--high-padding);
}

/*************************************
**************** HOME ****************
*************************************/
#home {
    background-color: var(--bg000);
}
/*************************************
*************** SLIDER ***************
*************************************/
.sliderBox {
    background-color: var(--color400);
    position: relative;
    width: 100%;
    margin: 0 auto 0 auto;
}

/*************************************
**************** SHOP ****************
*************************************/
.categories-wrap {
    display: grid;
    grid-template-columns: repeat(3, var(--category-size));
    grid-template-rows: repeat(3, var(--category-size));
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.category > img {
    object-fit: cover;
    object-position: center;
    max-height: var(--category-size);
    transition: 0.4s ease;
    vertical-align: middle;
}
.category > h3 {
    position: absolute;
    text-align: center;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.198);
    transition: 1s ease;
    padding: var(--page-padding2);
}
.category:hover > img {
    max-height: 230px;
    filter: grayscale(100%);
}
.category:hover > h3 {
    background-color: rgba(0, 0, 0, 0.39);
    /* width: var(--category-size); */
}

/*************************************
*************** ABOUT ****************
*************************************/
#aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#aboutus > .flex-box-centered:nth-child(1) {
    background: url("https://images.unsplash.com/photo-1506241537529-eefea1fbe44d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80")
        no-repeat center center;
    background-size: cover;
    width: 100vw;
    margin-bottom: 90px;
}
.aboutus-box1-text {
    max-width: 550px;
    text-align: center;
    color: var(--white);
    font-size: 14pt;
}

#aboutus > .grid-box-6and4:nth-child(2) {
    margin-bottom: 110px;
    max-width: 1110px;
}

/*************************************
************** CONTACT ***************
*************************************/
#contact h2 {
    margin-bottom: 1em;
}
.contact-list-blocks {
    margin-bottom: 20px;
    padding-left: 12px;
    display: flex;
    align-items: center;
}
.contact-list-blocks > div:nth-child(1) {
    margin-right: 20px;
    height: 17px;
}
.contact-list-blocks > div:nth-child(1) > svg {
    fill: var(--color000);
    width: 17px;
    height: 17px;
}
.contact-list-socials {
    display: flex;
    column-gap: 40px;
    font-weight: bold;
    padding-left: 12px;
}

#contact > div:nth-child(2) > iframe {
    width: 100%;
    height: 300px;
    border: none;
}
