@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Teko);
@import url(https://fonts.googleapis.com/css?family=Jura);
@import url(https://fonts.googleapis.com/css?family=Mandali);
@import url(https://fonts.googleapis.com/css?family=Mallanna);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Prata);
@import url(https://fonts.googleapis.com/css?family=Glegoo);
@import url(https://fonts.googleapis.com/css?family=Literata);
@import url(https://fonts.googleapis.com/css?family=Suranna);

/*************************************
**************** HEAD ****************
*************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    --page-padding: 3px 15px;
    --category-size: 200px;
    --font1: "Quicksand";
    --font2: "Teko";
    --font3: "Jura";
    --font4: "Mandali";
    --font5: "Mallanna";
    --fontA: "Playfair Display";
    --fontB: "Prata";
    --fontC: "Glegoo";
    --fontD: "Literata";
    --fontE: "Suranna";
    /* scrivere var anche per font sizes e piu cose possibili */
}

/* LIGHT COLOR SCHEME */
.theme-light {
    --white: white;
    --bg100: ghostwhite;
    --bg200: rgb(236, 236, 243);
    --bg300: rgb(212, 212, 219);
    --bg400: rgb(196, 196, 201);
    --bg500: rgb(187, 187, 187);
    --color100: rgb(112, 134, 255);
    --color200: rgb(96, 115, 226);
    --color300: rgb(77, 94, 194);
    --color400: rgb(57, 73, 167);
    --color500: rgb(38, 51, 126);
    --text: rgb(11, 11, 12);
}
/* DARK COLOR SCHEME */
.theme-dark {
}

h2 {
    font-family: var(--fontB); /*A B E oppure standard*/
    font-size: 24px;
    line-height: 20px;
    padding-top: 4px;
}

a {
    text-decoration: none;
    color: var(--text);
}

/*************************************
**************** BODY ****************
*************************************/
#root {
    background-color: var(--bg100);
    color: var(--text);
    font-family: var(--font1); /*1 4 o 5 , il 3 anche non male, 2 peggiore*/
    overflow-x: hidden;
    transition: 0.2s ease;
}
.main {
    padding: 45px 0 0 0;
    min-height: 85vh;
}

section {
    padding: var(--page-padding);
}

.large-box {
    height: 80vh;
    border-bottom: 1px solid darkgrey;
}
.medium-box {
    height: 65vh;
    border-bottom: 1px solid darkgrey;
}
.small-box {
    height: 50vh;
    border-bottom: 1px solid darkgrey;
}

/*************************************
*************** HEADER ***************
*************************************/
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    background-color: var(--white);
}
header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 11px 15px;
}
/*************************************
***************** NAV ****************
*************************************/
nav {
    /* background-color: var(--bg400); */
    display: flex;
    column-gap: 50px;
    padding: 2px 15px 0 15px;
    justify-content: center;
    /* text-transform: uppercase; */
}

/*************************************
*************** FOOTER ***************
*************************************/
footer {
    background-color: var(--white);
    padding: var(--page-padding);
}

/*************************************
**************** HOME ****************
*************************************/

/*************************************
*************** SLIDER ***************
*************************************/
.sliderBox {
    /* height: 50vh; */
    background-color: var(--color400);

    position: relative;
    width: 100%;
    margin: 0 auto 0 auto;
}

/*************************************
**************** SHOP ****************
*************************************/
.categories-wrap {
    display: grid;
    grid-template-columns: repeat(3, var(--category-size));
    grid-template-rows: repeat(3, var(--category-size));
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.category > img {
    object-fit: cover;
    object-position: center;
    max-height: var(--category-size);
    transition: 0.4s ease;
    vertical-align: middle;
}
.category > h3 {
    position: absolute;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.198);
    transition: 1s ease;
    padding: var(--page-padding);
}
.category:hover > img {
    max-height: 230px;
    filter: grayscale(100%);
}
.category:hover > h3 {
    background-color: rgba(0, 0, 0, 0.39);
    /* width: var(--category-size); */
}

/*************************************
*************** ABOUT ****************
*************************************/
#aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutus-comp-div {
    padding: 40px;
}
.aboutus-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1506241537529-eefea1fbe44d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80")
        no-repeat center center;
    background-size: cover;
    height: 450px;
    width: 100%;
}
.aboutus-box1-text {
    max-width: 550px;
    text-align: center;
    color: white;
}
.aboutus-box1-text > h1 {
    margin-bottom: 30px;
}
.aboutus-box1-text > p {
    font-size: 13.5pt;
}

.aboutus-box2 {
    margin: 90px 0 110px 0;
    display: grid;
    grid-template-columns: 60% 40%;
    max-width: 1110px;
}
