/*************************************
**************** HEAD ****************
*************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* LIGHT COLOR SCHEME */
.theme-light {
    --white: white;
    --bg100: ghostwhite;
    --bg200: rgb(236, 236, 243);
    --bg300: rgb(212, 212, 219);
    --bg400: rgb(196, 196, 201);
    --bg500: rgb(187, 187, 187);
    --color100: rgb(112, 134, 255);
    --color200: rgb(96, 115, 226);
    --color300: rgb(77, 94, 194);
    --color400: rgb(57, 73, 167);
    --color500: rgb(38, 51, 126);
    --text: rgb(11, 11, 12);
}
/* DARK COLOR SCHEME */
.theme-dark {
}

a {
    text-decoration: none;
}

/*************************************
**************** BODY ****************
*************************************/
#root {
    background-color: var(--bg100);
    color: var(--text);
    font-family: "Nunito Sans";
    overflow-x: hidden;
    transition: 0.2s ease;
    --page-padding: 3px 15px;
    --category-size: 200px;
}

.main {
    padding: 64px 0 0 0;
    min-height: 85vh;
}

section {
    padding: var(--page-padding);
}

/*************************************
*************** HEADER ***************
*************************************/
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    background-color: var(--white);
}
header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 15px;
}

/*************************************
***************** NAV ****************
*************************************/
nav {
    background-color: var(--bg400);
    display: flex;
    column-gap: 50px;
    padding: var(--page-padding);
    justify-content: center;
}

/*************************************
*************** FOOTER ***************
*************************************/
footer {
    background-color: var(--white);
    padding: var(--page-padding);
}

/*************************************
*************** SLIDER ***************
*************************************/
.sliderBox {
    /* height: 50vh; */
    background-color: var(--color400);

    position: relative;
    width: 100%;
    margin: 0 auto 0 auto;
}

/*************************************
**************** SHOP ****************
*************************************/
.categories-wrap {
    display: grid;
    grid-template-columns: repeat(3, var(--category-size));
    grid-template-rows: repeat(3, var(--category-size));
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.category > img {
    object-fit: cover;
    object-position: center;
    max-height: var(--category-size);
    transition: 0.4s ease;
    vertical-align: middle;
}
.category > h3 {
    position: absolute;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.198);
    transition: 1s ease;
    padding: var(--page-padding);
}
.category:hover > img {
    max-height: 230px;
    filter: grayscale(100%);
}
.category:hover > h3 {
    background-color: rgba(0, 0, 0, 0.39);
    /* width: var(--category-size); */
}
